.sidebar{
background-color: gray;
position: fixed;
top: auto;
left: auto;
width: 17rem;
height: 100vh;
text-align: center;
padding-left: 0%;
padding-top: 0%;
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
}
body{
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bolder; */
    /* color: blanchedalmond; */

}
.mainbodyol {
    display: inline-block;
    text-align: left;
}
.imagecenter
{
    text-align: center;
}
/* .blacktext {
    color: black;
} */
.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    padding-left: 5px;
    border-left: solid 1px #555555;
    background-color: gray;
}
.header {
    top: 5px;
    background-color: #555555;
    left: 5px;
    right: 5px;
    height: 100px
}